* {
  margin: 0;
  padding: 0;
}
/* comment */

/* wraps around entire navbar */
section.hero-and-header {
  background-color: #ff9065;
}

.main-header {
  /* color & styling */
  background-color: #ff9065;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: lighter;
  /* positioning */
  /* this combo centers content inside div */
  display: flex;
  align-items: center;
  /* this pushes the divs inside apart */
  justify-content: space-between;
  /* centers */
  width: 100%;
  position: fixed;
  margin: auto;
  height: 80px;
}
/* ZELMA VALENTIA */
.header-text {
  display: flex;
  /* floats logo to left */
  justify-self: start;
  font-size: 30px;
  font-weight: 300;
  /* positioning */
  margin-left: 70px;
}

/* hamburger menu (hidden on desktop) */
.hamburger {
  margin-right: 20px;
  cursor: pointer;
}

.nav-div {
  margin-right: 40px;
}

/* nav-menu: surrounds <a> tags */
.nav-menu {
  margin-top: 10px;
}

a {
  /* styling */
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 100;
  /* positioning */
  margin: 10px;
}
.nav-menu a:hover {
  text-decoration: underline;
}

button {
  /* styling */
  background-color: #ff9065;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
  /* positioning */
  margin-left: 10px;
  padding: 5px 10px;
}
/*** END Navigation Section ************/

/*** Hero Section **********************/
.hero {
  /* centering magic */
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-div {
  /* allows text to float by image */
  display: flex;
  align-items: center;
  /* justify-content: center; */

  /* positioning */
  margin: 180px 100px 120px 100px;
}
.my-pic {
  max-height: 150px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  /* left: 0 */
}
.hero-div-text {
  margin-left: 10px;
}
h2.hero-text {
  padding: 7px;
  font-size: 29px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
  color: white;
}
/********** END of Hero/Header Section *************/

/*** About Section *****************/
section.about {
  /* centering magic */
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-div {
  margin: 30px 0 30px 40px;
  max-width: 700px;
  padding: 50px 90px;
}
h3,
p {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
}
h3 {
  margin: 20px 0;
  color: #696969;
}
p {
  font-size: 15px;
  margin: 15px 0;
  color: #696969;
}
p span {
  color: #ff9065;
  font-weight: 400;
}

/********** END of About Section *************/

/* add comments to Contact Section & learn */

/*** Contact Section *****************/
.contact {
  margin: 10px 0 50px 0;
}

.contact h4 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: #696969;
  line-height: 1.5;
  text-align: center;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}
/* floats phone label right */
.phone {
  float: right;
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}

.styled-input label {
  color: rgb(246, 246, 246);
  font-family: 'Noto Sans JP', sans-serif;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #ff9065;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 10em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  float: right;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #ff9065;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: all 300ms ease;
}
.submit-btn:hover {
  transform: translateY(1px);
}

@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}

input[type='checkbox'] + label {
  color: #ccc;
  font-style: italic;
}

input[type='checkbox']:checked + label {
  color: #f00;
  font-style: normal;
}

@media only screen and (min-width: 750px) {
  .hamburger {
    display: none;
  }
}

/****** MOBILE view *******/
@media only screen and (max-width: 750px) {
  .main-header {
    margin-left: 20px;
  }

  .header-text {
    font-size: 38px;
    margin-left: 10px;
  }

  .nav-div {
    display: none;
  }
}

/* change hero-div to display block in mobile */
