body {
  background-color: #7bbe9c;
  height: 100vh;

  align-items: center;
  justify-content: center;
  /* aligns all text in center */
  text-align: center;
}

.header-text {
  font-size: 25px;
  color: rgb(44, 44, 44);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  padding-top: 1px;
}

.header-text span {
  color: rgb(158, 71, 71);
}

.coin-and-button {
  /* centering magic */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* behind coin */
.coin-div {
  background: white;
  padding: 100px;
  border-radius: 200px;
  border: solid 10px rgb(101, 101, 101);
}

#coin {
  position: relative;
}

button {
  background-color: #6a77e9;
  color: #fff;
  font-size: 18px;
  padding: 15px 25px;
  border-radius: 30px;
  display: inline-block;
  transition: 0.5s;
  cursor: pointer;
  position: absolute;
  margin-top: 450px;
  border: none;
}
/* hover effect */
#button:hover {
  opacity: 0.5;
  background-color: #5261e9;
}

/* animation effect */
.animate-coin {
  animation: flip 2s 1;
}
/* animation effect using keyframes */
@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(3600deg);
  }
  100% {
    transform: rotateX(7200deg);
  }
}
