.App {
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  flex-grow: 1;
  text-align: center;
  padding: 25px;
}

footer {
  padding: 2px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #eeeeee;
  font-size: small;
  text-align: center;
}

header {
  padding: 25px;
}

/* it worked! */
/* if you put the code in a lower CSS, it won't work - Dino helped me fix this */
.cards {
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto); */
}

.card {
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .cards {
    /* changes to column in mobile view */
    flex-direction: column;
  }
}
