.App {
  min-height: 100vh;
  background-image: url('./wow.jpeg');
  font-family: 'Roboto', sans-serif;
}

.App-header {
  /* without this, there is a big gap at the top? */
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 15px;
  font-weight: 100;
  font-size: 50px;

  color: #d6d6d6;
  background-image: url('./wow.jpeg');
  padding: 0;
  margin-bottom: -20px;
}

h1 {
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-top: 30px;
}

.forecast-text {
  padding-bottom: 15px;
  margin-top: 0;
  font-size: 33px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #d6d6d6;
}

main {
  flex-grow: 1;
  text-align: center;
  padding: 25px;
  padding: 0;
}

header {
  padding: 25px;
}

/* it worked! */
/* if you put the code in a lower CSS, it won't work - Dino helped me fix this */
.cards {
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto); */
}

.card {
  flex: 1;
}

@media only screen and (max-width: 1000px) {
  .cards {
    /* changes to column in mobile view */
    flex-direction: column;
    /* BUG: showing up even when blank in mobile */
  }
  h1 {
    font-size: 60px;
  }
}
