.App {
  flex-direction: column;
  min-height: 100vh;
  background-image: url('./wow.jpeg');
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 75px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.header {
  margin-top: 0px;
}

.forecast-text {
  padding-bottom: 15px;
  margin-top: 0;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
}

.App-header {
  background-color: hsl(220, 13%, 18%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;

  font-weight: 100;
  color: white;
  font-size: 50px;
  background-image: url('./wow.jpeg');
  padding: 0;
}

main {
  flex-grow: 1;
  text-align: center;
  padding: 25px;
  padding: 0;
}

header {
  padding: 25px;
}

/* it worked! */
/* if you put the code in a lower CSS, it won't work - Dino helped me fix this */
.cards {
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto); */
}

.card {
  flex: 1;
}

@media only screen and (max-width: 1000px) {
  .cards {
    /* changes to column in mobile view */
    flex-direction: column;
  }
}
